*parameters.yml
app/config/parameters.yml
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
public/js/*
public/css/*
/public/js/*
/public/css/*
.idea/*

\.idea/

public/js/

app/config/hresources\.yml

public/media/cache/*

hresources/*

public/geo/
public/tiles/
public/tiles/*
public/tiles/*/*
public/tiles/*/*/*
public/tiles/*/*/*/*
node_modules/
node_modules/*
package-lock\.json

public/build/fonts/

public/build/images/

public/build/

bin/\.web-server-pid
yarn.lock
xdebug\.log

config/parameters\.yaml

config/credentials\.yaml

config/hresources\.yaml

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

composer\.lock

symfony\.lock

\.web-server-pid