{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}
Page de test Article
{% endblock %}

{%  block content %}
<p>Page de test article</p>
    {{ form_start(form,{ 'attr': {'action' : path('testarticle') }}) }}
    {{ form_widget(form,{ 'attr': {'action' : path('testarticle') }}) }}
    {{ form_end(form) }}
    {#-- 'class': 'hb-article-search''class'#}
    <br>

{% endblock %}

{% block javascript %}
    <script>
        console.log(hb);
console.log(typeof hb);
    </script>
{% endblock %}
