<!DOCTYPE html>
<html>

<head>
{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}HistoricaBase | Debug Page{% endblock %}</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
{% endblock %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
	{% block body%}
	<!-- Site wrapper -->
	<div class="wrapper">
		{% for key,value in debug %}
		{{ key }}
		:
		{% if value.timestamp is defined %}
		{{ value|date('d/m/Y') }}
		{% else %}
		{{ value }}
		{% endif %}
		<br>
		{% endfor %}
	</div>
	{% endblock %}
</body>

</html>

