{% extends "base.html.twig" %}


{% block title %}
Tests Geographiques
{% endblock %}

{%  block content %}
<p>Page de tests Geographiques</p>

    {% stylesheets output='css/geo-css.css'
        '@AppBundle/Resources/third-party/leaflet/leaflet.css'
    %}
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ path('homepage') }}css/geo-css.css" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />

    <style>
        .map{
            width: 960px;
            height: 500px;
        }
    </style>


    <p id="map" class="map"></p>

    <p id="map2" class="map"></p>

{% endblock %}

{% block javascript %}
    <script src="{{ path('homepage') }}js/geo.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <script>
        let map = new L.Map("map", {center: [48.845, 2.29], zoom: 6})
            .addLayer(new L.TileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        ));

        var mapBounds = new L.LatLngBounds(
            new L.LatLng(-85.05112878, -179.99999738),
            new L.LatLng(85.05112878, 179.99953284));
        var mapMinZoom = 0;
        var mapMaxZoom = 8;

        let geoUrl = 'http://localhost:8000/tiles/{z}/{x}/{y}.png';

        L.tileLayer(geoUrl, {
            minZoom: mapMinZoom, maxZoom: mapMaxZoom,
            bounds: mapBounds,
            opacity: 0.85
        }).addTo(map);

        /*L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.satellite',
            accessToken: 'pk.eyJ1IjoiYmVsemU4OCIsImEiOiJjamphZGs3djExaHc1M2xvaWFsZnU3cGJmIn0.DfyZn6Cr_4bjJtIE44iyAQ'
        }).addTo(map);*/

        let svg = d3.select(map.getPanes().overlayPane).append("svg");
        let g = svg.append("g").attr("class", "leaflet-zoom-hide");

        mapboxgl.accessToken = 'pk.eyJ1IjoiYmVsemU4OCIsImEiOiJjamphZGs3djExaHc1M2xvaWFsZnU3cGJmIn0.DfyZn6Cr_4bjJtIE44iyAQ';
        let map2 = new mapboxgl.Map({
            container: 'map2',
            style: 'mapbox://styles/mapbox/streets-v10'
        });

        let popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("Coucou ! vous avez cliqué ici : " + e.latlng.toString())
                .openOn(map);
        }

        map.on('click', onMapClick);



    </script>
{% endblock %}
