parameters:
    hb_resources:
        provider: file_system

        file_system:
            root: "%kernel.root_dir%/../hresources/"

liip_imagine:
    data_loader: local
    cache: local
    resolvers:
        local:
            web_path:
                web_root: "%kernel.project_dir%/web/"
                cache_prefix: "media/cache"

    filter_sets:
        original:
            quality: 100
            filters:
        detail_thumbnail:
            filters:
                thumbnail:
                    size: [120, 120]
                    mode: outbound
        grayscale:
            filters:
                grayscale: ~
