<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Test HTS 2</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}" />
    <script type="text/javascript" src="d3.js"></script>
	<script type="text/javascript" src="jquery-2.2.3.min.js"></script>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div id="wrapper">
        <div id="header"></div>
        
        <div id="page">
        	<svg class="hts" id="hts1" width="800" height="150">		
        	
        	
        	
        	
        	</svg>		
        </div> 
    </div>
</body>

<script type="text/javascript">
//début de construction de la classe hts

//prototype date handler object
function HTS(id,beginDate,endDate) {
 	this.DAY_NAMES = ["Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi"];
	this.MONTH_NAMES = ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"];
	this.ABG_MONTH_NAMES = ["Janv.","Fev.","Mars","Avr.","Mai","Juin","Juil.","Aout","Sept.","Oct.","Nov.","Dec."];

	this.globalAreaId = "#svg.hts." + id;
	this.globalArea = $(globalAreaId);
	console.log(d3.globalArea.attr("x"));
	
}

var hts = HTS("#hts1",new Date(1970,0,1),new Date(1970,1,1));



</script>
</html>