{% extends 'base.html.twig' %}

{% block title %}
Creer un article
{% endblock %}

{% block stylesheets %}
{% stylesheets '@AppBundle/Resources/hbase/hts/css/hts.css'
  filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}





{% block javascript %}
{% javascripts      
               '@AppBundle/Resources/third-party/attrchange/attrchange.js'
			   '@AppBundle/Resources/hbase/hts/js/hdate.js'
			   '@AppBundle/Resources/hbase/hts/js/hevent-manager.js'
			   '@AppBundle/Resources/hbase/hts/js/hevent.js'
			   '@AppBundle/Resources/hbase/hts/js/hgrad.js'
			   '@AppBundle/Resources/hbase/hts/js/hrange.js'
			   '@AppBundle/Resources/hbase/hts/js/hts.js'
%}
< --- les scripts hts --->
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
var htsOptions = [hasMainEvent=false];

var d1 = new Date(1800,0,7);
d1.setHours(0,0,0,0);
var d2 = new Date(1880,0,28);
d2.setHours(0,0,0,0);
var hts = new HTimeScroller("#hts-svgcontainer",d1,d2,null, htsOptions);

$(function () {
	var prevHeight = $('div#hts-event-container').height();
	var deltaHeight = $("#hts-svgcontainer").attr("height") - prevHeight;
	$('div#hts-event-container').attrchange({
		callback: function (e) {
			var curHeight = $(this).height();            
			if (prevHeight !== curHeight) {
				$("#hts-svgcontainer").attr("height",curHeight + deltaHeight);
				hts.updateSpatialData(false);
				hts.redrawComponent('event-area');
				hts.redrawComponent('event-fcontainer');
				hts.redrawComponent('event-container');
				prevHeight = curHeight;
			}  
		}
	});
});




</script>
{% endblock%}



{% block content %}
	<div id="wrapper">
		<div id="header"></div>

		<div id="page">
			<div id="hts-container" class="hts-container">
				<svg id="hts-svgcontainer" class="hts-container" width="1150"  height="150"></svg>
			</div>
		</div>
	</div>
{% endblock %}
