{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/hbase/css/hbase.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block content_header %}
    <h1 class="hts-article-title">Liste des articles</h1>
{% endblock %}

{%  block content %}
    <p>la liste viendra ci-dessous</p>

    <table id="table"
           data-response-handler="responseHandler"
           data-detail-formatter="detailFormatter"
           data-minimum-count-columns="1"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-side-pagination="server"
           data-url="{{ path('article_getlistdata') }}"
           >
    </table>


    <div id="modal-article" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Article">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    {#{% include '@AppBundle/Resources/views/Article/list_tab.html.twig' %}#}


{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        /**
         * @package HArticleModal.js
         * @doc
         * @requires hb.util.cmn,hb.util.date,hb.util.trans
         */
        var hb = (function (hb) {
            "use strict";
            var _moduleName = "util:HArticle/HArticle.js";
            if(((typeof hb.getLoadedModules==="function"?hb.getLoadedModules():[])).includes(_moduleName)) {
                console.log(_moduleName + " already loaded, skipping");
                return hb;
            }
            hb.util = (function (util) {
                var _requiredModules = ["util:cmn/cmn.js","util:trans/translation.js,util:HDate/HDate.js"];
                let hd = hb.util.HDate;
                let trans = hb.util.trans;

                let _idGenerator = new hb.util.cmn.getIdGenerator();



                /**
                 * @doc HArticle object constructor
                 * @class hb.util.HArticle
                 * @return {hb.util.HArticle}
                 */
                util.HArticle = function()
                {
                    this.id = "t" + _idGenerator(); // at creation articles receive a temporary id
                };

                let _prototype = {
                    id:null,
                    title:null,
                    type:null,
                    abstract:null,
                    beginHDate:null,
                    hasEndDate:null,
                    endHDate:null,
                    groups:[],
                    /**
                     * @doc HDate prototype clone function
                     * @returns {HDate}
                     */
                    clone : function() {
                        //return new util.HDate(this.type,hd.clone(this.beginDate),hd.clone(this.endDate));
                    },
                    /**
                     * @doc : determines if two HArticle are equals (same id)
                     * @param {HArticle} hArticle
                     * @returns {boolean}
                     */
                    equals : function(hArticle) {
                        return this.id === hArticle.id;
                    },
                    /**
                     * @doc : function aimed to finalize constitution of new HArticle created by parsing JSon
                     */
                    finalize : function(){
                        if(this.beginHDate !== null){
                            this.beginHDate = hd.prototype.parseFromJson(JSON.stringify(this.beginHDate ));
                        }

                    },
                    /**
                     * @doc HArticle json parser/creator function : returns the HArticle generated from its JSON representation
                     * @param {string} jsonStr
                     * @returns {HArticle}
                     */
                    parseFromJson : function(jsonStr)
                    {
                        let jsonObj = JSON.parse(jsonStr);
                        let hArticle = new hb.util.HArticle();
                        for(var key in hArticle) {
                            if(jsonObj.hasOwnProperty(key)){
                                hArticle[key] = jsonObj[key];
                            }
                        }
                        return hArticle;
                    },
                    /**
                     * @doc HArticle json parser/creator function : returns the HArticle generated from its JSON representation
                     * @param {string} jsonStr
                     * @returns {HArticle}
                     */
                    mapFromObject : function(jsonStr)
                    {
                        let jsonObj = JSON.parse(jsonStr);
                        let hArticle = new hb.util.HArticle();
                        for(var key in hArticle) {
                            if(jsonObj.hasOwnProperty(key)){
                                hArticle[key] = jsonObj[key];
                            }
                        }
                        return hArticle;
                    }
                };
                Object.assign(util.HArticle.prototype,_prototype);

                console.log(_moduleName + " loaded");
                return util;
            }(hb.util || {}));

            let _loadedModules = ((typeof hb.getLoadedModules==="function")?hb.getLoadedModules():[]);
            _loadedModules.push(_moduleName);
            hb.getLoadedModules = function() {
                return _loadedModules;
            }
            return hb;
        }(hb || {}));

        hb = (function (hb,$) {
            "use strict";
            var _moduleName = "ui:HArticleModal/HArticleModal.js";
            if(((typeof hb.getLoadedModules==="function"?hb.getLoadedModules():[])).includes(_moduleName)) {
                console.log(_moduleName + " already loaded, skipping");
                return hb;
            }
            hb.ui = (function (ui,hb,$) {
                var _requiredModules = ["util:cmn/cmn.js","util:HArticle/HArticle.js",
                    "util:trans/translation.js","util:HDate/HDate.js"];

                /**
                 * @doc setDefaultOption for HArticleModal
                 * @param option
                 * @returns {object}
                 * @private
                 */
                let _setDefaultOption = function(option) {
                    option.z = option.z || 7;
                    option.fadeTime = option.fadeTime || 250;
                    option.title = option.title || "Nouvel article";
                    return option;
                };
                /**
                 * @doc apply options to HArticleModal
                 * @param {hb.ui.HArticleModal} modal
                 * @private
                 */
                let _applyOption = function(modal){
                    let $modal = modal.$modal;
                };
                /**
                 * @doc builds modal for HArticleModal
                 * @param {Object} $modal
                 * @private
                 */
                let _build = function($modal) {
                    $modal.container = $("<div class=\"modal-dialog modal-lg\" role=\"document\">").appendTo($modal);
                    $modal.content = $("<div class=\"modal-content\">").appendTo($modal.container);

                    $modal.header = $("<div class=\"modal-header\">").appendTo($modal.content);
                    $modal.header.append("<button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>");
                    $modal.title = $("<h4 class=\"modal-title\">Modal Header</h4>").appendTo($modal.header);

                    $modal.body = $("<div class=\"modal-body\">").appendTo($modal.content);;
                    $modal.body.append("<p>Un article sera vraiment ici ! </p>");

                    $modal.test = $("<p>").appendTo($modal.body);

                    $modal.footer = $("<div class=\"modal-footer\">").appendTo($modal.content);;
                    $modal.footer.append("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>");

                    $modal.testButton = $("<button type=\"button\" class=\"btn btn-default\">lol</button>").appendTo($modal.footer);
                    $modal.testButton.on('click',function(e){console.log("lolilol")});
                };
                /**
                 * @doc refresh HDatePicker
                 * @param {hb.ui.HDatePicker} picker
                 * @param {boolean} total - if true type and input values are updated from the current hdate value
                 * @private
                 */
                let _refresh = function(picker,total = false)
                {
                    let $modal = picker.$modal;
                    let type = $modal.typeSelector.find(":selected").val();
                    $modal.inputLabel.text(hb.util.trans.PARSING_HELP[type]);
                    $modal.dateLabel.empty();
                    $modal.dateInterval.empty();
                    if(total){$modal.dateInput.empty();}
                    if(picker.hDate !== null){
                        if(total){
                            $modal.dateInput.val(picker.hDate.getCanonicalInput());
                            $modal.typeSelector.val(picker.hDate.type);
                        }
                        $modal.dateInput.attr("placeholder",hb.util.trans.PARSING_PLACEHOLDERS[type]);
                        $modal.dateLabel.text(picker.hDate.getLabel());
                        $modal.dateInterval.text(picker.hDate.getIntervalLabel());
                    }
                    $modal.validateButton.button("enable").removeClass("ui-state-error");
                    $modal.validateButton.children().first().removeClass("fa-exclamation-triangle").addClass("fa-check");
                    $modal.errorSpan.hide();
                    $modal.validateButton.show();

                    // if date value is empty validation icon isn"t displayed
                    // if($modal.dateInput.val() === "" ){$modal.validateButton.hide();}
                    if(picker.errors.length > 0 ){
                        $modal.validateButton.button("disable").addClass("ui-state-error");
                        $modal.validateButton.children().first().removeClass("fa-check").addClass("fa-exclamation-triangle");
                        $modal.errorSpan.show();
                        $modal.errorSpan.text(picker.errors[0]);
                    }
                };

                /**
                 * @doc HArticleModal modal constructor
                 * @class hb.ui.HArticleModal
                 * @param {object} option
                 */
                ui.HArticleModal = function(option = {}) {
                    this.option = _setDefaultOption(option);
                    this.errors=[];
                    this.$element=null;
                    this.hArticle=null;
                    this.$modal =  $("<div id=\"modal-article2\" class=\"modal fade\" tabindex=\"-1\" " +
                        "role=\"dialog\" aria-labelledby=\"Article\">").appendTo('body');
                    _build(this.$modal);
                    _applyOption(this);
                    return this;
                };

                let _prototype = {
                    bind : function($element) {
                        console.log($element);
                        if($element === null){return;}
                        this.unbind();
                        this.$element=$element;
                        $element.addClass( "hb-enabled");
                        console.log($element);
                        this.option.position = { my: "left top", at: "left bottom", of: $element };
                        if(typeof ($element.first().attr("data-label")) !== "undefined"){
                            this.option.title = this.$element.first().attr("data-label");}

                        if(typeof ($element.first().attr("data-hdate")) !== "undefined" && $element.first().attr("data-hdate") !== ""){
                            this.hDate = hb.util.HDate.prototype.parseFromJson($element.first().attr("data-hdate"));
                        }
                        else if (this.hDate !== null){this.hDate = this.hDate.clone();}
                        _refresh(this,true);
                        _applyOption(this);
                        this.$modal.dialog("open");
                    },
                    unbind : function() {
                        if(this.$element === null){return;}
                        let $element = this.$element;
                        console.log("unbind");
                        this.$modal.dialog("close");
                        this.$element=null;
                        setTimeout(function(){$($element).removeClass("hb-enabled");}, 40);
                    }
                };
                Object.assign(ui.HArticleModal.prototype,_prototype);

                console.log(_moduleName + " loaded");
                return ui;
            }(hb.ui || {},hb,$));

            let _loadedModules = ((typeof hb.getLoadedModules==="function")?hb.getLoadedModules():[]);
            _loadedModules.push(_moduleName);
            hb.getLoadedModules = function() {
                return _loadedModules;
            }
            return hb;
        }(hb || {},$));


        $articleModal = new hb.ui.HArticleModal();

        const $table = $('#table');
        const $remove = $('#remove');
        let selections = [];

        function initTable() {
            $table.bootstrapTable({
                idField:'id',
                responseHandler:function(res) {
                    console.log(res.rows);
                    for(let i=0;i<res.rows.length;i++){
                        Object.setPrototypeOf(res.rows[i], hb.util.HArticle.prototype);
                        res.rows[i].finalize();
                    }
                    console.log(res);
                return res;
                },
                rowAttributes:function(row, index) {
                    return {};
                    //return {"data-value":JSON.stringify(row)};
                },
                height: getHeight(),
                columns: [
                    [
                        {
                            field: 'title',
                            title: 'Titre',
                            sortable: true,
                            editable: false,
                            align: 'center'
                        },
                        {
                            field: 'type.label',
                            title: 'Type',
                            sortable: true,
                            editable: false,
                            align: 'center'
                        },
                        {
                            field: 'beginHDate',
                            title: 'Date de début',
                            sortable: true,
                            editable: false,
                            align: 'center',
                            formatter:function(value, row, index, field) {
                                if(value === null) return '-';
                                //let hDate = hb.util.HDate.prototype.parseFromJson(JSON.stringify(value));
                                return value.getLabel();
                            }
                        },
                        {
                            field: 'endHDate',
                            title: 'Date de fin',
                            sortable: true,
                            editable: false,
                            align: 'center',
                            formatter:function(value, row, index, field) {
                                if(value === null) return '-';
                                let hDate = hb.util.HDate.prototype.parseFromJson(JSON.stringify(value));
                                return hDate.getLabel();
                            }
                        },
                        {
                            field: 'actions',
                            title: 'Actions',
                            align: 'center',
                            events: {
                                'click .like': function (e, value, row, index) {
                                    console.log(value);
                                    console.log(row);
                                    console.log($articleModal.$modal);
                                    console.log($("#modal-article"));
                                    //$("#modal-article").modal();
                                    //$("#modal-article").modal();

                                    $articleModal.$modal.modal();
                                    $articleModal.$modal.test.text("je teste un truc");
                                    $articleModal.$modal.title.text("Et oui !");


                                    //alert(`You click lol action, row: ${JSON.stringify(row)}`);
                                },
                                'click .remove': function(e, value, {id}, index) {
                                    $table.bootstrapTable('remove', {
                                        field: 'id',
                                        values: [id]
                                    });
                                }
                            },
                            formatter: function(value, row, index) {
                                return [
                                    '<a class="like" href="javascript:void(0)" title="Preview">',
                                    '<i class="fa fa-info-circle"></i>',
                                    '</a> ',
                                    '<a class="like" href="javascript:void(0)" title="See">',
                                    '<i class="fa fa-eye"></i>',
                                    '</a> ',
                                    '<a class="like" href="javascript:void(0)" title="Edit">',
                                    '<i class="fa fa-edit"></i>',
                                    '</a> ',
                                    '<a class="remove" href="javascript:void(0)" disabled title="Remove">',
                                    '<i class="fa fa-remove"></i>',
                                    '</a>'
                                ].join('');
                            }
                        }
                    ]
                ]
            });
            // sometimes footer render error.
            setTimeout(() => {
                $table.bootstrapTable('resetView');
            }, 200);
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', () => {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

                // save your data, here just save the current page
                selections = getIdSelections();
                // push or splice the selections if you want to save all data selections
            });
            $table.on('expand-row.bs.table', (e, index, row, $detail) => {
                if (index % 2 == 1) {
                    $detail.html('Loading from ajax request...');
                    $.get('LICENSE', res => {
                        $detail.html(res.replace(/\n/g, '<br>'));
                    });
                }
            });
            $table.on('all.bs.table', (e, name, args) => {
                //console.log(name, args);
            });
            $remove.click(() => {
                const ids = getIdSelections();
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $remove.prop('disabled', true);
            });
            $(window).resize(() => {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });
        }



        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), ({id}) => id);
        }

        function getHeight() {
            return $(window).height() - $('h1').outerHeight(true);
        }

        $(() => {
            initTable();
        })

    </script>
{% endblock%}