# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    secret: 42a44645522e34e5eab0818863452325728b23b7
    hbase_version:
        number : 0.8.0
        tag : Marc Bloch

    authorized_registration_emails :
        - email1
        - email2

    webmaster_email : webmaster@dom.ext


    psql_database_host:
    psql_database_port: 5432
    psql_database_name: hbase
    psql_database_user:
    psql_database_password:

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null


