{% extends "base2.html.twig" %}


{% block title %}
Bienvenue
{% endblock %}

{%  block content %}
<p>Page par défaut du site</p>
{% endblock %}

{% block javascript %}
    <script>
        console.log(hb);
console.log(typeof hb);
    </script>
{% endblock %}
