<html>
<head>
</head>
<body>
Bonjour,<br />
Votre inscription à {{ siteName }} est presque terminée.<br/>
Cliquez sur <a href="{{ url('security_validate_register',{email:email,token:token}) }}">ce lien</a> (valable 24H) pour finaliser l'inscription et vous connecter au site :)
<br/><br/>
Cordialement,
<br/>
{{ siteName }}
<br/>
</body>
</html>