<html>
<head>
</head>
<body>
Bonjour {{ user.username }},<br />

Vous avez demandé à reinitialiser votre mot de passe sur {{ siteName }}.<br/>
Cliquez sur <a href="{{ url('no-auth_homepage',{page:'recover-password',email:user.email,token:token}) }}">ce lien</a> (valable 24H) pour choisir un nouveau mot de passe.
<br/><br/>
Cordialement,
<br/>
{{ siteName }}
<br/>
</body>
</html>