<html>
<head>
</head>
<body>
Bonjour {{ name }},<br />

<br/>
Cliquez sur le lien pour vous connecter : <a href="{{ url('no-auth_homepage',{page:'register'}) }}/lolilol">Finaliser l'inscription</a><br/>

Cordialement,<br/>
<br/>
HistoricaBase
<br/>
<br/>
{#<img src="{{ asset('img/logo.png') }}" alt="Logo">#}
</body>
</html>